.ventana {
    -fx-background-image: url("../img/stacked-waves-haikei.png");
    -fx-background-size: cover;
    -fx-background-position: center center;

}

.ventana2 {
    -fx-background-image: url("../img/stacked-waves-haikei.png");
    -fx-background-size: 100%;
}

.buttonPequeno {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 50px;
}

.buttonPequeno:hover {
    -fx-background-color: #5c5cff;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;

    -fx-background-radius: 50px;
}

.buttonLogout {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-padding: 16px 20px;
    -fx-background-radius: 50px;
}

.buttonVolver {
    -fx-background-color: transparent;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.buttonLogout:hover {
    -fx-background-color: white;
    -fx-text-fill: blue;
    -fx-padding: 16px 20px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: blue;
}

.alert .dialog-pane {
    -fx-pref-height: 400px;
}

.tabla .column-header {
    -fx-background-color: blue;

}

.tabla .column-header .label {
    -fx-font-size: 20px;
    -fx-text-fill: white;

}
